.btn {
    /* width: 100%; */
    background-color:#FDCE16;
    color: whitesmoke;
    font-family: "Playfair Display", serif;    
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 2.25rem;
    border: none;    
}
.btn:hover {
    cursor: pointer
}