.btn {
    width: 100%;
    padding: 20px;
    background-color:#003D2B ;
    color: whitesmoke;
    font-family: "Playfair Display", serif;    
    font-size: 18px;
    font-weight: 400;
    border-radius: 24px;
    
}