html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:auto;  
}
.head-sighin{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    align-self: center;
}

.input-eye{
    position: relative;
    width: 100%;
    max-width: 18.75rem;
    display: flex;
    align-items: center;
}

.input-password{
    position: relative;
}
.eyes{
    position: absolute;
    right: 0.75rem;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn.btn-show{
    width: 100%;
    max-width: 6.25rem;
    margin-top: 1.25rem;
    padding: 0.625rem;
}
@media (max-width: 1280px) {
.container-signin {
    margin-top: 3rem;
    }
}

