
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    width: 100%;      
    box-sizing: border-box;
}
.label{
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
}
.inputHolder {
    box-sizing: border-box;
    display: block;  
}
.react-datepicker-wrapper {
    width: 100% !important;
    display: block; 
}

.react-datepicker__input-container {
    width: 100% !important;
}

.inputWrapper{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;  
}
.iconTimePicker{
    position: absolute;
    right: 1.5rem;
    

}
.timePicker{
    border-radius: 1rem;
    border: 1px solid #2424241a;
    background-color: #F5F5F5;
    padding: 1rem 1.5rem;
    font-family: "Playfair Display", serif;
    font-size: 1.125rem;
    width: 100%;
    box-sizing: border-box;
}


