
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    border-radius: 1rem;
    border: 1px solid #2424241a;
    background-color: #F5F5F5;
    padding: 1rem 1.5rem;
    font-family: "Playfair Display", serif;
    font-size: 1.125rem;
}
.input::placeholder{
    font-family: "Playfair Display", serif;  
    font-size: 1rem;
    
}
.label{
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
}