.cardHolder{
    width: 30rem;
    height: 43rem;
    overflow: hidden;
    border-radius: 1.5rem;    
}
.cardContact{
    height: 32rem;
    overflow: hidden;
    background-color:#003D2B;
    padding: 1.88rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    }

.contactTitle{
    color:#FDCE16;
    font-family: "Playfair Display", serif;   
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.8;
}
.contactInfo{
    color:white;
    font-family: "Playfair Display", serif;   
    font-size: 1.125rem;
    font-weight: 400;
    opacity: 0.8;
    gap:0.5rem;
}
.cardConnect{
    background-color: #FDCE16;
    height: 10.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; 
    position: relative;
}
.iconWapper {
    position: absolute;
    bottom: 5rem;
}
@media all and (max-width: 768px) {
    .cardHolder {
        width: 90%;
        height: auto;           
    }
}
