
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
.container-schedule{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
}
.btn.btn-signIn{
    width: 150px;
    background-color: #003d2b;
    color:#FDCE16;    
    font-weight: 500;
}

.headliner{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    align-self: center;
    margin-bottom: 1.875rem;

}
.containerHolder{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3.75rem;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.25 rem;
    box-sizing: border-box;
}
.schedule {    
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1.5rem; 
    flex: 1;
}

.form-item {
    width: 100%;       
}
.form-item input,
.form-item select,
.form-item .custom-date-picker,
.form-item .custom-time-picker {
    width: 100%;       
    box-sizing: border-box;
}
.form-textarea {
    grid-column: 1 / -1;  
}
.form-textarea textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 10rem;
}
.btn {
    color:#003D2B;
    width: 60%;
    padding: 1.25rem;
}

@media all and (max-width: 1200px) {
    .container-schedule {
        width: 90%;
        padding: 0 3.125rem; 
        box-sizing: border-box;
        flex-direction: column;
    }
    .schedule {
        width: 100%;
        max-width: 25rem;
        margin: 0 auto; 
        display: flex;
        gap: 1rem;
    }
    .btn {
        width: 100%;
        font-size: 0.875rem;
    } 
}
@media all and (max-width: 1024px) {
    .btn.btn-signIn {
        margin-top: 1rem;
    }
    .containerHolder{
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .schedule {
        display: flex;
        flex-direction: column;        
    }
}




