.container{
    display: flex;
    flex-direction: column;
    width: 100%;         /* добавляем растяжку на всю ширину родителя */
    box-sizing: border-box;
    gap: 24px;

    /* align-items: center; */
}
.label {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    align-self: flex-start;

}
.input {
    border-radius: 1rem;
    border: 1px solid #2424241a;
    background-color: #F5F5F5;
    padding: 1rem 1.5rem;
    font-family: "Playfair Display", serif;
    font-size: 18px;    
    width: 100%;         /* добавляем растяжку на всю ширину родителя */
    box-sizing: border-box;

}
input::placeholder{
    font-family: "Playfair Display", serif;
    font-size: 15px;    
}
.inputWrapper{
    position: relative;
    width: 100%;
}
.icon{ 
    opacity: 0.6;
    position: absolute;
    right: 1.5rem;
}

.iconOpen {
    transform: rotate(180deg);
}
.dropdownMenu {
    position: absolute;
    left: 0;
    top: 62px;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 1rem;
    border: 1px solid black;
    background: #F5F5F5;
    padding: 5px;
    font-size: 16px;
    font-family: "Playfair Display", serif;
}

.option {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    color: #F5F5F5;
    background-color: green;
    opacity: 1;
}
