.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1.5rem;
}
.label {
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    align-self: flex-start;
}
.input {
    border-radius: 1rem;
    border: 1px solid #2424241a;
    background-color: #F5F5F5;
    padding: 1rem 1.5rem;
    font-family: "Playfair Display", serif;
    font-size: 1.125rem;    
    width: 100%;        
    box-sizing: border-box;
}
input::placeholder{
    font-family: "Playfair Display", serif;
    font-size: 1rem;    
}
.inputWrapper{
    position: relative;
    width: 100%;
}
.icon{ 
    opacity: 0.6;
    position: absolute;
    right: 1.5rem;
}
.iconOpen {
    transform: rotate(180deg);
}
.dropdownMenu {
    position: absolute;
    left: 0;
    top: 3.875rem;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    max-height: 12.5rem;
    overflow-y: auto;
    border-radius: 1rem;
    border: 1px solid black;
    background: #F5F5F5;
    padding: 0.3rem;
    font-size: 1rem;
    font-family: "Playfair Display", serif;
}
.option {
    border-radius: 0.625rem;
    padding: 0.625rem;
    cursor: pointer;
}
.option:hover {
    color: #F5F5F5;
    background-color: green;
    opacity: 1;
}
